
[Unit]
Description=TeamCity Server
After=network.target

[Service]
Type=forking
PIDFile={{teamcty_install_dir}}/TeamCity/logs/teamcity-server.pid
; Make sure the CATALINA_PID env variable is setup in {{teamcty_install_dir}}/TeamCity/bin/catalina.sh
ExecStart={{teamcty_install_dir}}/TeamCity/bin/teamcity-server.sh start
ExecStop={{teamcty_install_dir}}/TeamCity/bin/teamcity-server.sh stop
User=teamcity

[Install]
WantedBy=multi-user.target
