[Unit]
Description=TeamCity Build Agent
After=network.target

[Service]
Type=forking
PIDFile={{teamcty_install_dir}}/TeamCity/logs/buildAgent.pid
ExecStart={{teamcty_install_dir}}/TeamCity/bin/agent.sh start
ExecStop={{teamcty_install_dir}}/TeamCity/bin/agent.sh stop
User=teamcity

[Install]
WantedBy=multi-user.target
